<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="width=device-width,user-scalable=no" name="viewport" />
    <title>登录</title>
    <link rel="icon" href="/Image/bank/logo.png" type="image/x-icon">
    
    <link rel="stylesheet" href="/fonts/bank/iconfont.css" />
    <!--动画样式-->
    <!--<link rel="stylesheet" type="text/css" href="/Styles/Plugin/animate.min.css" />-->
    <!--图标字体样式-->
    <!--<link rel="stylesheet" type="text/css" href="/fonts/iconfont.css" />-->
    <!--所有控件皮肤-->
    <!--界面样式-->
    <link rel="stylesheet" type="text/css" href="/Styles/login.css" />
</head>
<body>
    <div id="wrap">
    	<div class="image">
    		<img src="../Image/bank/logo.png" alt="" />
    	</div>
    	<div class="inputWrap">
    		<div class="notic">
    			<i class="iconfont icon-ren"></i>
    			<p>用户名</p>
    		</div>
    		<div class="inputItem"> 
    			<input type="text" id="userName" value="" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"/ >
    		</div>
    		
    	</div>
    	<div class="inputWrap">
    		<div class="notic">
    			<i class="iconfont icon-mima2"></i>
    			<p>密码</p>
    		</div>
    		<div class="inputItem"> 
    			<input type="password" id="userPass" value="" style="-webkit-tap-highlight-color: rgba(0,0,0,0);"/>
    		</div>
    		
    	</div>
    	<div class="remeberPass">
    		<div class="check" onclick="remPass(this)">
    			<input type="checkbox" id="remPass"/>
    			<i class="iconfont icon-yuanquan"></i>记住密码
    			<!--icon-duihao1-->
    			
    		</div>
    		
    	</div>
    	<div class="btn" onclick="login()">
    		<p style="display: inline-block;vertical-align: center;">登陆</p>
    		<img src="../Image/bank/Spinner.gif" style=""/>
    	</div>
    	<p class="loginNot"></p>
    	<!--1.用户名不存在
    	2.密码或用户名错误
    	3.用户名不能为空
    	4.密码不能为空-->
    	
    </div>
    
    <script src="/Scripts/plug/jquery-1.10.1.min.js"></script>
    <!--<script src="/Scripts/plug/fastclick.min.js"></script>-->
    <script type="text/javascript" src="/Scripts/plug/md5.js"></script>
    <script src="/Scripts/login.js"></script>
</body>
</html>
