<div class="navbar">
	<div class="navbar-inner notHomeBar">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-xiangzuo"></i>返回
			</a>
		</div>
		<div class="center">
			门禁系统
		</div>
		<div class="right">
			
		</div>
	</div>
</div>
<div class="pages">
	<div class="page navbar-through" data-page="accessControlSys" id="accessControl">
		<div class="page-content">
			
			<div class="row no-gutter swiWrap">
				<div class="col-10 btn preSide" >
					<i class="iconfont icon-sanjiao-xiangshang"></i>
				</div>
				<div class="col-80" style="overflow: hidden;">
					<div class="swiperWrap">
						<div class="swiper-wrapper">
						    <div class="swiper-slide check" id="1">1层</div>
						    <div class="swiper-slide" id="2">2层</div>
						    <div class="swiper-slide" id="11">11层</div>
						    <div class="swiper-slide" id="12">12层</div>
						    <div class="swiper-slide" id="13">13层</div>
						    <div class="swiper-slide" id="14">14层</div>
						    <div class="swiper-slide" id="15">15层</div>
						    <div class="swiper-slide" id="16">16层</div>
						    <div class="swiper-slide" id="17">17层</div>
						</div>
					</div>
					
				</div>
				<div class="col-10 btn nextSide" >
					<i class="iconfont icon-sanjiao-xiangshang-copy"></i>
				</div>
			</div>
			<div class="row no-gutter tit">
				<div class="col col-15">状态</div>
				<div class="col col-25">名称</div>
				<div class="col col-20">远程开关</div>
				<div class="col col-20">门常开</div>
				<div class="col col-20">门常关</div>
			</div>
			<div class="cont">
				
			</div>
			
		</div>
	</div>
</div>