<div class="navbar">
	<div class="navbar-inner notHomeBar">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-xiangzuo"></i>返回
			</a>
		</div>
		<div class="center">
			会议详情
		</div>
		<div class="right">
			
		</div>
		
	</div>
</div>
<div class="pages">
	<div class="page navbar-through" data-page="meetDetail" id="meetDetail">
		<div class="page-content">
			<div class="row lineTxt">
				<div class="col-30">开始时间</div>
				<div class="col-70">2018-08-09 09:00</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">结束时间</div>
				<div class="col-70">2018-08-09 12:00</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">会议室</div>
				<div class="col-70">会议室01</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">会议类型</div>
				<div class="col-70">一级</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">会议内容</div>
				<div class="col-70">根据功能决定时间</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">联系人</div>
				<div class="col-70">秀琴</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">联系方式</div>
				<div class="col-70">15678945621</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">参加领导</div>
				<div class="col-70">行领导</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">行领导备注</div>
				<div class="col-70">白衣服的是张行长白衣服的是张行长白衣服的是张行长白衣服的是张行长</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">参加人员</div>
				<div class="col-70">张三,李四,王小二</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">会议服务</div>
				<div class="col-70">鲜花,投影仪,茶水</div>
			</div>
			<p class="lineTit">会议室信息</p>
			<div class="row lineTxt">
				<div class="col-30">IP地址</div>
				<div class="col-70">156,125,25,65</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">容纳人数</div>
				<div class="col-70">40人</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">包含设备</div>
				<div class="col-70">投影仪,电脑</div>
			</div>
			<div class="row lineTxt">
				<div class="col-30">地址信息</div>
				<div class="col-70">1楼121</div>
			</div>
			<div class="btn">
				<button class="button button-big button-fill" onclick="goAppraise()">会议结束</button>
			</div>
		</div>
	</div>
</div>
