<div class="navbar">
	<div class="navbar-inner notHomeBar">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-xiangzuo"></i>返回
			</a>
		</div>
		<div class="center">
			会议安排
		</div>
		<div class="right">
			<a href="createMetting.html" class="link  icon-only" >
				<i class="iconfont icon-shenqing"></i>
			</a>
		</div>
		
	</div>
</div>
<div class="pages">
	<div class="page with-subnavbar navbar-through" data-page="meetingSys" id="meetingSys">
		<div class="page-content pull-to-refresh-content" data-ptr-distance="55" >
			<div class="pull-to-refresh-layer">
		      <div class="preloader"></div>
		      <div class="pull-to-refresh-arrow"></div>
		    </div>
			<div class="lookMore">
				<div class="conWrap">
					<div class="dateWrap">
							<div class="top">
								<div class="day">
									6日
								</div>
								<div class="iWrap">
									<i class="iconfont icon-rili"></i>
								</div>
							</div>
							<div class="week">星期二</div>
					</div>
					<div class="inforWrap">
						
					</div>
					<div class="btnWrap">
						
					</div>
				</div>
			</div>
			<div class="meetingApraise">
				
				<div class="roomCon">
					<p class="roomTit">会议评价</p>
					<div class="list-block room">
					  <ul>
				    	
				    	
					  </ul>
					</div>    
					
				</div>
			</div>
			<div class="listItem">
				<div class="meet" id="0">
					<p class="date"></p>
					<div class="row no-gutter meettit">
						<div class="col-20 ">开始时间</div>
						<div class="col-20">结束时间</div>
						<div class="col-20">会议主题</div>
						<div class="col-20">会议室</div>
						<div class="col-20">会议状态</div>
					</div>
					<div class="meetList con">
						
						
					</div>
				</div>
				<div class="meet" id="1">
					<p class="date"></p>
					<div class="row no-gutter meettit">
						<div class="col-20 ">开始时间</div>
						<div class="col-20">结束时间</div>
						<div class="col-20">会议主题</div>
						<div class="col-20">会议室</div>
						<div class="col-20">会议状态</div>
					</div>
					<div class="meetList con">
						
						
					</div>
				</div>
				<div class="meet" id="2">
					<p class="date"></p>
					<div class="row no-gutter meettit">
						<div class="col-20 ">开始时间</div>
						<div class="col-20">结束时间</div>
						<div class="col-20">会议主题</div>
						<div class="col-20">会议室</div>
						<div class="col-20">会议状态</div>
					</div>
					<div class="meetList con">
						
						
					</div>
				</div>
				<div class="meet" id="3">
					<p class="date"></p>
					<div class="row no-gutter meettit">
						<div class="col-20 ">开始时间</div>
						<div class="col-20">结束时间</div>
						<div class="col-20">会议主题</div>
						<div class="col-20">会议室</div>
						<div class="col-20">会议状态</div>
					</div>
					<div class="meetList con">
						
						
					</div>
				</div>
				<div class="meet" id="4">
					<p class="date"></p>
					<div class="row no-gutter meettit">
						<div class="col-20 ">开始时间</div>
						<div class="col-20">结束时间</div>
						<div class="col-20">会议主题</div>
						<div class="col-20">会议室</div>
						<div class="col-20">会议状态</div>
					</div>
					<div class="meetList con">
						
						
					</div>
				</div>
				<div class="meet" id="5">
					<p class="date"></p>
					<div class="row no-gutter meettit">
						<div class="col-20 ">开始时间</div>
						<div class="col-20">结束时间</div>
						<div class="col-20">会议主题</div>
						<div class="col-20">会议室</div>
						<div class="col-20">会议状态</div>
					</div>
					<div class="meetList con">
						
						
					</div>
				</div>
				<div class="meet" id="6">
					<p class="date"></p>
					<div class="row no-gutter meettit">
						<div class="col-20 ">开始时间</div>
						<div class="col-20">结束时间</div>
						<div class="col-20">会议主题</div>
						<div class="col-20">会议室</div>
						<div class="col-20">会议状态</div>
					</div>
					<div class="meetList con">
						
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
