<div class="navbar">
	<div class="navbar-inner notHomeBar">
		<div class="left" onclick="goHome()">
			<a href="#" class="link  icon-only" >
				<i class="iconfont icon-xiangzuo"></i>返回
			</a>
		</div>
		<div class="center">
			我的权限
		</div>
		<div class="right">
			<a href="proPermission.html" class="link icon-only">
				<i class="iconfont icon-shenqingshouquan"></i>
			</a>
		</div>
		
	</div>
</div>
<div class="pages">
	<div class="page  with-subnavbar navbar-through" data-page="myPerssion" id="myPerssion">
		<div class="page-content pull-to-refresh-content myPerssion"  data-ptr-distance="55">
			<div class="pull-to-refresh-layer">
			      <div class="preloader"></div>
			      <div class="pull-to-refresh-arrow"></div>
			</div>
			<div class="list-block persList" style="margin: 0;">
			  <ul>
			    <li class="accordion-item"  >
			    	<a href="#" class="item-content item-link">
				        <div class="item-inner">
				          <div class="item-title">门禁权限</div>
				           <div class="item-after mjStatus"></div>
				        </div>
				        
			    	</a>
			      <div class="accordion-item-content">
				        <div class="content-block">
				          <ul id="mj">
					       
					      </ul>
				        </div>
			      </div>
			    </li>
			     <li class="accordion-item "  >
			    	<a href="#" class="item-content item-link">
				        <div class="item-inner">
				          <div class="item-title">梯控权限</div>
				          <div class="item-after tkStatus"></div>
				        </div>
			    	</a>
			      <div class="accordion-item-content">
				        <div class="content-block">
				          <ul id="tk">
					        
					      </ul>
				        </div>
			      </div>
			    </li>
			    <li class="accordion-item "  >
			    	<a href="#" class="item-content item-link">
				        <div class="item-inner">
				          <div class="item-title">更衣柜权限</div>
				          <div class="item-after gygStatus"></div>
				        </div>
			    	</a>
			      	<div class="accordion-item-content">
				        <div class="content-block">
				          <ul id="gyg">
					        
					      </ul>
				        </div>
			      	</div>
			    </li>
			     <li class="accordion-item  " id="2" >
			    	<a href="#" class="item-content item-link">
				        <div class="item-inner">
				          <div class="item-title">打印机权限</div>
				          <div class="item-after dyjStatus"></div>
				        </div>
			    	</a>
			     	<div class="accordion-item-content">
				        <div class="content-block">
				          <ul id="dyj">
					        
					      </ul>
				        </div>
			      	</div>
			    </li>
			     <li class="accordion-item " id="3" >
			    	<a href="#" class="item-content item-link">
				        <div class="item-inner">
				          <div class="item-title">消费权限</div>
				          <div class="item-after xfStatus"></div>
				        </div>
			    	</a>
			     	<div class="accordion-item-content">
				        <div class="content-block">
				          <ul id="xf">
					        
					      </ul>
				        </div>
			      	</div>
			    </li>
			   
			  </ul>
			</div>
		</div>
	</div>
</div>