<div class="navbar">
	<div class="navbar-inner notHomeBar">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-xiangzuo"></i>返回
			</a>
		</div>
		<div class="center">
			权限申请
		</div>
		<div class="right">
			
		</div>
		
	</div>
</div>
<div class="pages">
	<div class="page  with-subnavbar navbar-through" data-page="proPermission" id="proPermission">
		<div class="page-content">
			<input type="hidden" name="leader" id="leader" value="0" />
			<div class="inpWrap row no-gutter">
				<div class="col-30 txt">
					权限类型:
				</div>
				<div class="col-70 ">
					<input type="text" readonly="readonly" id="0" value="门禁权限"/>
				</div>
				
			</div>
			<div class="inpWrap row no-gutter">
				<div class="col-30 txt">
					申请人:
				</div>
				<div class="col-70 ">
					<input type="text" readonly="readonly" id="name" value=""/>
				</div>
				
			</div>
			<div class="inpWrap row no-gutter">
				<div class="col-30 txt">
					申请人工号:
				</div>
				<div class="col-70 ">
					<input type="text" readonly="readonly" id="workNo" value=""/>
				</div>
			</div>
			<div class="inpWrap row no-gutter">
				<div class="col-30 txt">
					申请人卡号:
				</div>
				<div class="col-70 ">
					<input type="text" readonly="readonly" id="cardNo" value=""/>
				</div>
			</div>
			<div class="useFor">
				<p>
					权限详情:
				</p>
				<div class="texWrap">
					<textarea name="des" id="des" placeholder="请填写申请权限的信息"></textarea>
				</div>
			</div>
			
			
			
			
			<div class="btn">
				<div class="button button-fill button-big" onclick="upPermission()">
					确定
				</div>
				
			</div>
		</div>
	</div>
</div>