<div class="navbar">
	<div class="navbar-inner notHomeBar">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-xiangzuo"></i>返回
			</a>
		</div>
		<div class="center">
			服务评价
		</div>
		<div class="right">
			
		</div>
		
	</div>
</div>
<div class="pages">
	<div class="page navbar-through" data-page="serverAppraise" id="serverAppraise">
		<div class="page-content">
			<p class="tit">设备质量</p>
			<div class="starWrap">
				<div class="star" >
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
				</div>
			</div>
			<p  class="tit">会议服务</p>
			<div class="starWrap">
				<div class="star" >
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
				</div>
			</div>
			<p  class="tit">会议室环境</p>
			<div class="starWrap">
				<div class="star" >
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
					<i class="iconfont icon-xingxing"></i>
				</div>
			</div>
			<p  class="tit"> 服务评价</p>
			<div class="textWrap">
				<div class="con">
					<textarea placeholder="请留下您宝贵的意见或建议..."></textarea>
				</div>
				
			</div>
			<div class="btn">
				<button class="button button-big button-fill">
					提交
				</button>
			</div>
		</div>
	</div>
</div>
