<div class="navbar">
	<div class="navbar-inner notHomeBar">
		<div class="left">
			<a href="#" class="link back icon-only">
				<i class="iconfont icon-xiangzuo"></i>返回
			</a>
		</div>
		<div class="center">
			更衣柜系统
		</div>
		<div class="right">
			
		</div>
	</div>
</div>
<div class="pages  ">
	<div class="page with-subnavbar navbar-through" data-page="wardrobeSys" id="wardrobe">
		<div class="page-content ">
			<div class="content-block barDownCh">
				<div class="buttons-row">
			        <a href="#male" class="tab-link active button" onclick="getWardRobe(0)">
			        	<span style="width: auto;">男性区域</span>
			        </a>
			        <a href="#female"  class="tab-link button" onclick="getWardRobe(1)">
			        	<span> 女性区域</span>
			        </a>

			    </div>
			 </div>
			<div class="tabs barDownMenu "  >
				
				<div id="male"  class="tab active pull-to-refresh-content " data-ptr-distance="55" >
					<div class="pull-to-refresh-layer">
					      <div class="preloader"></div>
					      <div class="pull-to-refresh-arrow"></div>
					   </div>
					<div class="tit row no-gutter">
						<div class="col-25">
							更衣柜编号
						</div>
						<div class="col-25">
							分配状态
						</div>
						<div class="col-25">
							分配人员
						</div>
						<div class="col-25">
							开关状态
						</div>
					</div>
					<div class="con " >
						
					</div>
				
				</div>
				<div id="female" class="tab pull-to-refresh-content"  data-ptr-distance="55">
					<div class="pull-to-refresh-layer">
					      <div class="preloader"></div>
					      <div class="pull-to-refresh-arrow"></div>
					   </div>
					<div class="tit row no-gutter">
						<div class="col-25">
							更衣柜编号
						</div>
						<div class="col-25">
							分配状态
						</div>
						<div class="col-25">
							分配人员
						</div>
						<div class="col-25">
							开关状态
						</div>
					</div>
					<div class="con">
						
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>